**/Logs
**/Temp
**/temp
**/.vs

/Pre_au
/Pre_ps
/Legacy
/Releases
/QuadMinos_Releases
/QuadMinos/Library
/QuadMinos/obj
/QuadMinos/UserSettings

/WorkBuddy
/.workbuddy-ai

**/*.zip
**/*.rar
**/*.7z

CopyRights.txt